@model SAP_1.Models.Curso
@{
    ViewData["Title"] = "Curso";
}

<div class="text-center">
    <h1>@ViewData["Title"] (@Model.IdCurso)</h1>
    
    <p style="font-weight: bold">
        @Model.DsCurso<br />
        @Model.Categoria<br />
    </p>
    <table class="table">
        <tbody>
        <tr>
            <td>
                <form asp-action="Remover">
                    <a class="btn btn-primary" asp-action="Index"><span class="fa-solid fa-arrow-left"></span></a>
                    <input type="hidden" asp-for="IdCurso" class="form-control"/>
                    <input type="hidden" asp-for="DsCurso" class="form-control"/>
                    <input type="hidden" asp-for="Categoria" class="form-control"/>
                    <input type="hidden" asp-for="Duracao" class="form-control"/>
                    <input type="submit" value="Confirmar Remoção" class="btn btn-primary btn-danger"/>
                </form>
                <br/>
                
            </td>
        </tr>
        </tbody>
    </table>
</div>