@model SAP_1.Models.Empregado

@{
    ViewData["Title"] = "Empregados";
}

<h1>Nome (@Model.NmEmpregado)</h1><h2>Id: (@Model.IdEmpregado)</h2>

<h4>Alterar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="IdEmpregado" />
            </div>
            <div class="form-group">
                <label asp-for="NmEmpregado" class="control-label"></label>
                <input asp-for="NmEmpregado" class="form-control" />
                <span asp-validation-for="NmEmpregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IniciaisEmpregado" class="control-label"></label>
                <input asp-for="IniciaisEmpregado" class="form-control" />
                <span asp-validation-for="IniciaisEmpregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsCargo" class="control-label"></label>
                <input asp-for="DsCargo" class="form-control" />
                <span asp-validation-for="DsCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtNascimento" class="control-label"></label>
                <input type="date" asp-for="DtNascimento" class="form-control" />
                <span asp-validation-for="DtNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comissao" class="control-label"></label>
                <input asp-for="Comissao" class="form-control" />
                <span asp-validation-for="Comissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartamento" class="control-label"></label>
                <input asp-for="IdDepartamento" class="form-control" />
                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FgAtivo" class="control-label"></label>
                <select asp-for="FgAtivo" class="form-control" asp-items="@ViewBag.StatusEmpregado"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGerente" class="control-label"></label>
                <input asp-for="IdGerente" class="form-control" />
                <span asp-validation-for="IdGerente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>