@model SAP_1.ViewModels.EmpregadoViewModel

@{
    ViewData["Title"] = "Empregados";

}

<h1>Nome: (@Model.Empregado.NmEmpregado)</h1>
<h2>Id: (@Model.Empregado.IdEmpregado)</h2>

<h4>Alterar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Empregado.IdEmpregado" />
            </div>
            <div class="form-group">
                <label asp-for="Empregado.NmEmpregado" class="control-label"></label>
                <input asp-for="Empregado.NmEmpregado" class="form-control" />
                <span asp-validation-for="Empregado.NmEmpregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.IniciaisEmpregado" class="control-label"></label>
                <input asp-for="Empregado.IniciaisEmpregado" class="form-control" />
                <span asp-validation-for="Empregado.IniciaisEmpregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.DsCargo" class="control-label"></label>
                <input asp-for="Empregado.DsCargo" class="form-control" />
                <span asp-validation-for="Empregado.DsCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.DtNascimento" class="control-label"></label>
                <input type="date" asp-for="Empregado.DtNascimento" class="form-control" />
                <span asp-validation-for="Empregado.DtNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.Salario" class="control-label"></label>
                <input asp-for="Empregado.Salario" class="form-control" />
                <span asp-validation-for="Empregado.Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.Comissao" class="control-label"></label>
                <input asp-for="Empregado.Comissao" class="form-control" />
                <span asp-validation-for="Empregado.Comissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.IdDepartamento" class="control-label"></label>
                <select asp-for="Empregado.IdDepartamento" class="form-control" asp-items="@ViewBag.ListaDepto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.FgAtivo" class="control-label"></label>
                <select asp-for="Empregado.FgAtivo" class="form-control" asp-items="@ViewBag.StatusEmpregado"></select>
            </div>
            <div class="form-group">
                <label asp-for="Empregado.IdGerente" class="control-label"></label>
                <input asp-for="Empregado.IdGerente" class="form-control" />
                <span asp-validation-for="Empregado.IdGerente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>