@model SAP_1.Models.Matricula
@{
    ViewData["Title"] = "Nova matricula";
}

<h1>Criar</h1>


<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdParticipante" class="control-label"></label>
                <select asp-for="IdParticipante" class="form-control" asp-items="@ViewBag.ListaPessoas"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class="form-control" asp-items="@ViewBag.ListaIdCurso"></select>
            </div>
            <div class="form-group">
                <label asp-for="DtInicio" class="control-label"></label>
                <select asp-for="DtInicio" class="form-control" asp-items="@ViewBag.ListaDtCurso"></select>
            </div>
            <div class="form-group">
                <label asp-for="FgAtivo" class="control-label"></label>
                <select asp-for="FgAtivo" class="form-control" asp-items="@ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
